@import "./reset.css";

body {
  min-height: 100vh;
  --15px: 0.9375rem;
  --22px: 1.375rem;
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.card {
  margin: auto;
  width: 320px;
  background-color: white;
  padding: 16px 16px 40px 16px;
  border-radius: 24px;
  text-align: center;
}

img {
  border-radius: 16px;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: var(--22px);
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin: 1rem;
  line-height: 1.2;
  letter-spacing: 0;
}

p {
  font-size: var(--15px);
  font-weight: 400;
  color: #68778D;
  line-height: 1.4;
  letter-spacing: 0.2px;
  margin: 0 16px;
}

footer {
  bottom: 0;
  width: 100%;
  text-align: center;
}

.screen-reader-only {
    height: 1px;
    width: 1px;
    overflow: hidden;
}